Estimated number of reported drink drive accidents and casualties in Great Britain: 1979 - 2016

In [1]:
from gssutils import *

scraper = Scraper('https://www.gov.uk/government/statistical-data-sets/ras51-reported-drinking-and-driving')
scraper

## Reported drinking and driving (RAS51)

Data about the reported drink-drive accidents and casualties, produced by Department for Transport.

### Distributions

1. Reported drink and drive (Excel data tables) ([application/zip](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827488/drink-drive-ras51.zip))
1. Reported drink drive accidents and casualties in Great Britain since 1979 ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827490/ras51001.ods))
1. Reported drink drive accidents and casualties, by month ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827498/ras51011.ods))
1. Reported drink drive accidents and casualties, by country and English region ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827501/ras51019.ods))
1. Reported drink drive accidents and casualties by gender of driver and rider ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827502/ras51022.ods))
1. Estimated number of reported road accidents involving a car drink driver, by driver age, accidents per licence holder and per mile driven ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827497/ras51010.ods))
1. Reported drink drive accidents, by time of day ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827499/ras51012.ods))
1. Reported drink drive accidents by pedestrian and vehicle involvement ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827500/ras51013.ods))
1. Estimated number of drink drive casualties in reported accidents by casualty type, gender and age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827492/ras51005.ods))
1. KSI casualties in reported accidents involving young drivers and riders (17-24 years old) over the legal alcohol limit ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827495/ras51008.ods))
1. Driver and rider fatalities in reported accidents: over the legal blood alcohol limit ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827493/ras51006.ods))
1. Driver and rider fatalities in reported accidents, by BAC category, gender and age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827494/ras51007.ods))
1. Blood alcohol levels of reported fatalities aged 16 and over ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/827496/ras51009.ods))
1. Breath tests and breath test failures by drivers and riders involved in reported accidents by vehicle type ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834413/ras51002.ods))
1. Breath tests and breath test failures in reported accidents by day of week and time of day ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834414/ras51003.ods))
1. Breath tests and breath test failures in reported accidents by road user type and age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834415/ras51004.ods))
1. Drivers and riders involved in reported road accidents: breath tests and failures ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834416/ras51014.ods))
1. Car drivers involved in reported road accidents: breath tests and failures ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834418/ras51015.ods))
1. Car drivers in reported road accidents, breath tests and failures by country and English region ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834423/ras51020.ods))
1. Reported motorcyclist breath tests and failure rates by age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834425/ras51021.ods))
1. Reported roadside screening breath tests and breath test failures: England and Wales ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834419/ras51016.ods))
1. Screening test results, by reason for test ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834420/ras51017.ods))
1. Results of screening breath tests following a road traffic collision ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834422/ras51018.ods))
1. Self-reported drink driving, percentage of all drivers ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834426/ras51101.ods))
1. Self-reported drink driving, percentage of drivers by age and gender ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834427/ras51102.ods))
1. Self-reported drug driving, percentage of all drivers ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834428/ras51103.ods))
1. Self-reported drug driving, percentage of drivers by age and gender ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834430/ras51104.ods))
1. Self-reported mobile phone use as a proportion of all drivers ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834411/ras51105.ods))
1. Self-reported mobile phone use by age and sex of drivers ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/834412/ras51106.ods))

In [7]:
df = scraper.distribution(
    title='Reported drink drive accidents and casualties in Great Britain since 1979'
).as_pandas(sheet_name=None)
#).as_pandas(sheet_name='RAS51001_Table_', start_row = 6,
#            row_limit = 39, start_column = 0, column_limit = 12
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,Department for Transport statistics,,,,,,,,,,,
1,Drink-drive accidents and casualties 2017,,,,,,,,,,,
2,RAS51001,,,,,,,,,,,
3,Estimated number of reported drink drive accid...,,,,,,,,,,,
4,,,,,,,,,,,,Number
5,,Accidents2,,,,,Casualties2,,,,,
6,Year,Fatal,Serious4,Slight4,Total,,95% CI lower3,Killed,95% CI upper3,Serious4,Slight4,Total
7,1979,1380,5630,12460,19470,,:,1640,:,8300,21490,31430
8,1980,1280,5430,11860,18570,,:,1450,:,7970,20420,29830
9,1981,1200,4940,10900,17040,,:,1420,:,7370,19160,27950
10,1982,1300,5420,12070,18800,,:,1550,:,8010,20660,30220
11,1983,950,4750,11430,17130,,:,1110,:,6800,18610,26520
12,1984,1000,4790,11540,17320,,:,1170,:,6820,19410,27390
13,1985,900,4900,11460,17260,,:,1040,:,6810,19380,27220
14,1986,850,4590,11510,16940,,:,990,:,6440,19220,26650
15,1987,780,4220,10560,15560,,:,900,:,5900,17670,24470
16,1988,680,3660,10190,14520,,:,790,:,5100,16860,22740
17,1989,700,3390,10300,14390,,:,810,:,4790,16620,22220
18,1990,650,2910,9650,13210,,:,760,:,4090,15550,20400
19,1991,570,2590,8530,11690,,:,660,:,3610,13610,17880
20,1992,540,2360,7890,10790,,:,660,:,3280,12770,16710
21,1993,460,1870,7160,9480,,:,540,:,2660,11780,14980
22,1994,470,2090,7330,9900,,:,540,:,2840,11780,15160
23,1995,460,2140,7590,10180,,:,540,:,3000,12450,16000
24,1996,480,2150,8240,10870,,:,580,:,3010,13450,17040
25,1997,470,2140,8100,10710,,:,550,:,2940,13310,16800
26,1998,410,1860,7840,10100,,:,460,:,2520,12610,15580
27,1999,400,1850,8800,11050,,:,460,:,2470,13980,16910
28,2000,450,1950,9410,11800,,500,530,560,2540,14990,18060
29,2001,470,2020,9780,12270,,510,530,560,2700,15550,18780
30,2002,480,2050,10620,13150,,520,550,580,2790,16760,20100
31,2003,500,1970,9930,12400,,550,580,600,2590,15820,18990
32,2004,520,1790,8900,11210,,560,580,610,2340,14060,16980
33,2005,470,1550,8060,10080,,530,550,580,2090,12760,15400
34,2006,490,1480,7430,9400,,530,560,580,1970,11850,14370
35,2007,370,1400,7520,9290,,390,410,430,1760,11850,14020
36,2008,350,1280,6980,8620,,380,400,420,1620,10970,12990
37,2009,340,1180,6530,8050,,360,380,400,1500,10150,12030
38,2010,220,990,5420,6620,,220,240,260,1240,8210,9690
39,2011,220,1040,5430,6690,,220,240,250,1270,8420,9930
40,2012,210,960,5460,6630,,210,230,250,1200,8510,9930
41,2013,230,880,4590,5690,,220,240,260,1100,6930,8270
42,2014,220,880,4530,5620,,220,240,260,1070,6900,8210
43,2015,170,980,4570,5730,,180,200,220,1170,7100,8470
44,2016,220,1000,4860,6070,,220,230,250,1250,7550,9040
45,2017,220,1110,4370,5700,,230,250,270,1380,6970,8600
46,1 On the 5th December 2014 the limit in Scotla...,,,,,,,,,,,
47,2 Estimates are rounded to the nearest ten.,,,,,,,,,,,
48,3 Upper and lower range for fatalities based o...,,,,,,,,,,,
49,4 Figures for serious and slight injuries are ...,,,,,,,,,,,
50,,,,,,,,,,,,The figures in this table are National Statistics
51,Telephone: 020 7944 6595,,,,,,,,,,,"Source: STATS19, coroners and procurators fiscal"
52,Email: roadacc.stats@dft.gov.uk,,,,,,,,,,,Last updated: 28 August 2019
53,Notes & Definitions,,,,,,,,,,,Next update: February 2020
54,,,,,,,,,,,,
55,,,,,,,,,,,,
56,,,,,,,,,,,,

In [8]:
table = pd.DataFrame()

In [9]:
observations = df.iloc[:,[0,1,2,3,4]]
observations = observations.rename(columns=observations.iloc[0]).drop(observations.index[0])
observations.columns.values[0] = 'Period'
observations.columns.values[1] = 'fatal'
observations.columns.values[2] = 'serious'
observations.columns.values[3] = 'slight'
observations.columns.values[4] = 'total'
Final_table = pd.melt(observations,
                       ['Period'], var_name="Severity",
                       value_name="Value")
Final_table['Unit'] = 'accidents'
Final_table['Measure Type'] = 'Count of accidents'
table = pd.concat([table,Final_table])

In [10]:
observations1 = df.iloc[:,[0,7,9,10,11]]
observations1 = observations1.rename(columns=observations1.iloc[0]).drop(observations1.index[0])
observations1.columns.values[0] = 'Period'
observations1.columns.values[1] = 'killed'
observations1.columns.values[2] = 'seriously-injured'
observations1.columns.values[3] = 'slightly-injured'
observations1.columns.values[4] = 'total'
Final_table = pd.melt(observations1,
                       ['Period'], var_name="Severity",
                       value_name="Value")
Final_table['Unit'] = 'casualties'
Final_table['Measure Type'] = 'Count of casualties'
table = pd.concat([table,Final_table])

Now deal with the confidence intervals?

In [11]:
observations3 = df.iloc[:,[0,6,8]]
observations3 = observations3.rename(columns=observations3.iloc[0]).drop(observations3.index[0])
observations3.columns.values[0] = 'Period'
observations3.columns.values[1] = 'CI Lower'
observations3.columns.values[2] = 'CI Upper'
observations3['Severity'] = 'killed'
table = pd.merge(table, observations3, how = 'left', left_on = ['Period','Severity'],
                      right_on = ['Period', 'Severity'])

In [12]:
table = table[ ['Period','Severity', 'Measure Type','Value', 'CI Lower', 'CI Upper', 'Unit']]

In [13]:
table['Period'] = 'year/' + table['Period'].map(str)

In [14]:
import numpy as np
table['CI Lower'] = table['CI Lower'].map(lambda x:
                            '' if x == ':' else x)
table['CI Upper'] = table['CI Upper'].map(lambda x:
                            '' if x == ':' else x)

In [15]:
from pathlib import Path

out = Path('out')
out.mkdir(exist_ok=True, parents=True)
table.drop_duplicates().to_csv(out / ('observations.csv'), index = False)

In [16]:
scraper.dataset.family = 'health'
scraper.dataset.theme = THEME['health-social-care']
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [17]:
table

,Period,Severity,Measure Type,Value,CI Lower,CI Upper,Unit
0,year/Drink-drive accidents and casualties 2017,fatal,Count of accidents,,NaN,NaN,accidents
1,year/RAS51001,fatal,Count of accidents,,NaN,NaN,accidents
2,year/Estimated number of reported drink drive ...,fatal,Count of accidents,,NaN,NaN,accidents
3,year/,fatal,Count of accidents,,NaN,NaN,accidents
4,year/,fatal,Count of accidents,Accidents2,NaN,NaN,accidents
5,year/Year,fatal,Count of accidents,Fatal,NaN,NaN,accidents
6,year/1979,fatal,Count of accidents,1380,NaN,NaN,accidents
7,year/1980,fatal,Count of accidents,1280,NaN,NaN,accidents
8,year/1981,fatal,Count of accidents,1200,NaN,NaN,accidents
9,year/1982,fatal,Count of accidents,1300,NaN,NaN,accidents
10,year/1983,fatal,Count of accidents,950,NaN,NaN,accidents
11,year/1984,fatal,Count of accidents,1000,NaN,NaN,accidents
12,year/1985,fatal,Count of accidents,900,NaN,NaN,accidents
13,year/1986,fatal,Count of accidents,850,NaN,NaN,accidents
14,year/1987,fatal,Count of accidents,780,NaN,NaN,accidents
15,year/1988,fatal,Count of accidents,680,NaN,NaN,accidents
16,year/1989,fatal,Count of accidents,700,NaN,NaN,accidents
17,year/1990,fatal,Count of accidents,650,NaN,NaN,accidents
18,year/1991,fatal,Count of accidents,570,NaN,NaN,accidents
19,year/1992,fatal,Count of accidents,540,NaN,NaN,accidents
20,year/1993,fatal,Count of accidents,460,NaN,NaN,accidents
21,year/1994,fatal,Count of accidents,470,NaN,NaN,accidents
22,year/1995,fatal,Count of accidents,460,NaN,NaN,accidents
23,year/1996,fatal,Count of accidents,480,NaN,NaN,accidents
24,year/1997,fatal,Count of accidents,470,NaN,NaN,accidents
25,year/1998,fatal,Count of accidents,410,NaN,NaN,accidents
26,year/1999,fatal,Count of accidents,400,NaN,NaN,accidents
27,year/2000,fatal,Count of accidents,450,NaN,NaN,accidents
28,year/2001,fatal,Count of accidents,470,NaN,NaN,accidents
29,year/2002,fatal,Count of accidents,480,NaN,NaN,accidents
...,...,...,...,...,...,...,...
448,year/1999,total,Count of casualties,16910,NaN,NaN,casualties
449,year/2000,total,Count of casualties,18060,NaN,NaN,casualties
450,year/2001,total,Count of casualties,18780,NaN,NaN,casualties
451,year/2002,total,Count of casualties,20100,NaN,NaN,casualties
452,year/2003,total,Count of casualties,18990,NaN,NaN,casualties
453,year/2004,total,Count of casualties,16980,NaN,NaN,casualties
454,year/2005,total,Count of casualties,15400,NaN,NaN,casualties
455,year/2006,total,Count of casualties,14370,NaN,NaN,casualties
456,year/2007,total,Count of casualties,14020,NaN,NaN,casualties
457,year/2008,total,Count of casualties,12990,NaN,NaN,casualties
458,year/2009,total,Count of casualties,12030,NaN,NaN,casualties
459,year/2010,total,Count of casualties,9690,NaN,NaN,casualties
460,year/2011,total,Count of casualties,9930,NaN,NaN,casualties
461,year/2012,total,Count of casualties,9930,NaN,NaN,casualties
462,year/2013,total,Count of casualties,8270,NaN,NaN,casualties
463,year/2014,total,Count of casualties,8210,NaN,NaN,casualties
464,year/2015,total,Count of casualties,8470,NaN,NaN,casualties
465,year/2016,total,Count of casualties,9040,NaN,NaN,casualties
466,year/2017,total,Count of casualties,8600,NaN,NaN,casualties
467,year/1 On the 5th December 2014 the limit in S...,total,Count of casualties,,NaN,NaN,casualties
468,year/2 Estimates are rounded to the nearest ten.,total,Count of casualties,,NaN,NaN,casualties
469,year/3 Upper and lower range for fatalities ba...,total,Count of casualties,,NaN,NaN,casualties
470,year/4 Figures for serious and slight injuries...,total,Count of casualties,,NaN,NaN,casualties
471,year/,total,Count of casualties,The figures in this table are National Statistics,NaN,NaN,casualties
472,year/Telephone: 020 7944 6595,total,Count of casualties,"Source: STATS19, coroners and procurators fiscal",NaN,NaN,casualties
473,year/Email: roadacc.stats@dft.gov.uk,total,Count of casualties,Last updated: 28 August 2019,NaN,NaN,casualties
474,year/Notes & Definitions,total,Count of casualties,Next update: February 2020,NaN,NaN,casualties
475,year/,total,Count of casualties,,NaN,NaN,casualties
476,year/,total,Count of casualties,,NaN,NaN,casualties
477,year/,total,Count of casualties,,NaN,NaN,casualties