Estimated number of reported drink drive accidents and casualties in Great Britain: 1979 - 2016

In [1]:
from gssutils import *

scraper = Scraper('https://www.gov.uk/government/statistical-data-sets/ras51-reported-drinking-and-driving')
scraper

## Reported drinking and driving (RAS51)

Data about the reported drink-drive accidents and casualties, produced by Department for Transport.

### Distributions

1. Reported drink and drive (Excel data tables) ([application/zip](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/778510/drink-drive-ras51.zip))
1. Reported drink drive accidents and casualties in Great Britain since 1979 ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/778507/ras51001.ods))
1. Reported drink drive accidents and casualties, by month ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732354/ras51011.ods))
1. Reported drink drive accidents and casualties, by country and English region ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732362/ras51019.ods))
1. Reported drink drive accidents and casualties by gender of driver and rider ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732367/ras51022.ods))
1. Estimated number of reported road accidents involving a car drink driver, by driver age, accidents per licence holder and per mile driven ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/733130/ras51010.ods))
1. Reported drink drive accidents, by time of day ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732579/ras51012.ods))
1. Reported drink drive accidents by pedestrian and vehicle involvement ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732356/ras51013.ods))
1. Estimated number of drink drive casualties in reported accidents by casualty type, gender and age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732350/ras51005.ods))
1. KSI casualties in reported accidents involving young drivers and riders (17-24 years old) over the legal alcohol limit ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732358/ras51008.ods))
1. Driver and rider fatalities in reported accidents: over the legal blood alcohol limit ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732351/ras51006.ods))
1. Driver and rider fatalities in reported accidents, by BAC category, gender and age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732352/ras51007.ods))
1. Blood alcohol levels of reported fatalities aged 16 and over ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732353/ras51009.ods))
1. Breath tests and breath test failures by drivers and riders involved in reported accidents by vehicle type ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743217/ras51002.ods))
1. Breath tests and breath test failures in reported accidents by day of week and time of day ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743218/ras51003.ods))
1. Breath tests and breath test failures in reported accidents by road user type and age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743219/ras51004.ods))
1. Drivers and riders involved in reported road accidents: breath tests and failures ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743220/ras51014.ods))
1. Car drivers involved in reported road accidents: breath tests and failures ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743221/ras51015.ods))
1. Car drivers in reported road accidents, breath tests and failures by country and English region ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743224/ras51020.ods))
1. Reported motorcyclist breath tests and failure rates by age ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743225/ras51021.ods))
1. Reported roadside screening breath tests and breath test failures: England and Wales ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/680039/ras51016.ods))
1. Screening test results, by reason for test ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743222/ras51017.ods))
1. Results of screening breath tests following a road traffic collision ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743223/ras51018.ods))
1. Self-reported drink driving, percentage of all drivers ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743226/ras51101.ods))
1. Self-reported drink driving, percentage of drivers by age and gender ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743227/ras51102.ods))
1. Self-reported drug driving, percentage of all drivers ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743228/ras51103.ods))
1. Self-reported drug driving, percentage of drivers by age and gender ([ODF Spreadsheet](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/743216/ras51104.ods))

In [2]:
df = scraper.distribution(
    title='Reported drink drive accidents and casualties in Great Britain since 1979'
).as_pandas(sheet_name='RAS51001_Table_', start_row = 6,
            row_limit = 39, start_column = 0, column_limit = 12)

In [3]:
table = pd.DataFrame()

In [4]:
observations = df.iloc[:,[0,1,2,3,4]]
observations = observations.rename(columns=observations.iloc[0]).drop(observations.index[0])
observations.columns.values[0] = 'Period'
observations.columns.values[1] = 'fatal'
observations.columns.values[2] = 'serious'
observations.columns.values[3] = 'slight'
observations.columns.values[4] = 'total'
Final_table = pd.melt(observations,
                       ['Period'], var_name="Severity",
                       value_name="Value")
Final_table['Unit'] = 'accidents'
Final_table['Measure Type'] = 'Count'
table = pd.concat([table,Final_table])

In [5]:
observations1 = df.iloc[:,[0,7,9,10,11]]
observations1 = observations1.rename(columns=observations1.iloc[0]).drop(observations1.index[0])
observations1.columns.values[0] = 'Period'
observations1.columns.values[1] = 'killed'
observations1.columns.values[2] = 'seriously-injured'
observations1.columns.values[3] = 'slightly-injured'
observations1.columns.values[4] = 'total'
Final_table = pd.melt(observations1,
                       ['Period'], var_name="Severity",
                       value_name="Value")
Final_table['Unit'] = 'casualties'
Final_table['Measure Type'] = 'Count'
table = pd.concat([table,Final_table])

Now deal with the confidence intervals?

In [6]:
observations3 = df.iloc[:,[0,6,8]]
observations3 = observations3.rename(columns=observations3.iloc[0]).drop(observations3.index[0])
observations3.columns.values[0] = 'Period'
observations3.columns.values[1] = 'CI Lower'
observations3.columns.values[2] = 'CI Upper'
observations3['Severity'] = 'killed'
table = pd.merge(table, observations3, how = 'left', left_on = ['Period','Severity'],
                      right_on = ['Period', 'Severity'])

In [7]:
table = table[ ['Period','Severity', 'Measure Type','Value', 'CI Lower', 'CI Upper', 'Unit']]

In [8]:
table['Period'] = 'year/' + table['Period'].map(str)

In [9]:
import numpy as np
table['CI Lower'] = table['CI Lower'].map(lambda x:
                            '' if x == ':' else x)
table['CI Upper'] = table['CI Upper'].map(lambda x:
                            '' if x == ':' else x)

In [10]:
from pathlib import Path

out = Path('out')
out.mkdir(exist_ok=True, parents=True)
table.drop_duplicates().to_csv(out / ('observations.csv'), index = False)

In [11]:
scraper.dataset.family = 'health'
scraper.dataset.theme = THEME['health-social-care']
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [12]:
table

        Period Severity Measure Type  Value CI Lower CI Upper        Unit
0    year/1979    fatal        Count   1380      NaN      NaN   accidents
1    year/1980    fatal        Count   1280      NaN      NaN   accidents
2    year/1981    fatal        Count   1200      NaN      NaN   accidents
3    year/1982    fatal        Count   1300      NaN      NaN   accidents
4    year/1983    fatal        Count    950      NaN      NaN   accidents
5    year/1984    fatal        Count   1000      NaN      NaN   accidents
6    year/1985    fatal        Count    900      NaN      NaN   accidents
7    year/1986    fatal        Count    850      NaN      NaN   accidents
8    year/1987    fatal        Count    780      NaN      NaN   accidents
9    year/1988    fatal        Count    680      NaN      NaN   accidents
10   year/1989    fatal        Count    700      NaN      NaN   accidents
11   year/1990    fatal        Count    650      NaN      NaN   accidents
12   year/1991    fatal        Count    570      NaN      NaN   accidents
13   year/1992    fatal        Count    540      NaN      NaN   accidents
14   year/1993    fatal        Count    460      NaN      NaN   accidents
15   year/1994    fatal        Count    470      NaN      NaN   accidents
16   year/1995    fatal        Count    460      NaN      NaN   accidents
17   year/1996    fatal        Count    480      NaN      NaN   accidents
18   year/1997    fatal        Count    470      NaN      NaN   accidents
19   year/1998    fatal        Count    410      NaN      NaN   accidents
20   year/1999    fatal        Count    400      NaN      NaN   accidents
21   year/2000    fatal        Count    450      NaN      NaN   accidents
22   year/2001    fatal        Count    470      NaN      NaN   accidents
23   year/2002    fatal        Count    480      NaN      NaN   accidents
24   year/2003    fatal        Count    500      NaN      NaN   accidents
25   year/2004    fatal        Count    520      NaN      NaN   accidents
26   year/2005    fatal        Count    470      NaN      NaN   accidents
27   year/2006    fatal        Count    490      NaN      NaN   accidents
28   year/2007    fatal        Count    370      NaN      NaN   accidents
29   year/2008    fatal        Count    350      NaN      NaN   accidents
..         ...      ...          ...    ...      ...      ...         ...
274  year/1987    total        Count  24470      NaN      NaN  casualties
275  year/1988    total        Count  22740      NaN      NaN  casualties
276  year/1989    total        Count  22220      NaN      NaN  casualties
277  year/1990    total        Count  20400      NaN      NaN  casualties
278  year/1991    total        Count  17880      NaN      NaN  casualties
279  year/1992    total        Count  16710      NaN      NaN  casualties
280  year/1993    total        Count  14980      NaN      NaN  casualties
281  year/1994    total        Count  15160      NaN      NaN  casualties
282  year/1995    total        Count  16000      NaN      NaN  casualties
283  year/1996    total        Count  17040      NaN      NaN  casualties
284  year/1997    total        Count  16800      NaN      NaN  casualties
285  year/1998    total        Count  15580      NaN      NaN  casualties
286  year/1999    total        Count  16910      NaN      NaN  casualties
287  year/2000    total        Count  18060      NaN      NaN  casualties
288  year/2001    total        Count  18780      NaN      NaN  casualties
289  year/2002    total        Count  20100      NaN      NaN  casualties
290  year/2003    total        Count  18990      NaN      NaN  casualties
291  year/2004    total        Count  16980      NaN      NaN  casualties
292  year/2005    total        Count  15400      NaN      NaN  casualties
293  year/2006    total        Count  14370      NaN      NaN  casualties
294  year/2007    total        Count  14020      NaN      NaN  casualties
295  year/2008    total        Count  12990      NaN      NaN  casualties
296  year/2009    total        Count  12030      NaN      NaN  casualties
297  year/2010    total        Count   9690      NaN      NaN  casualties
298  year/2011    total        Count   9930      NaN      NaN  casualties
299  year/2012    total        Count   9930      NaN      NaN  casualties
300  year/2013    total        Count   8270      NaN      NaN  casualties
301  year/2014    total        Count   8210      NaN      NaN  casualties
302  year/2015    total        Count   8470      NaN      NaN  casualties
303  year/2016    total        Count   9040      NaN      NaN  casualties

[304 rows x 7 columns]